<div>
<form [formGroup]="registrationForm" style=" margin: 0px 40% 0px 15%;">
  <div class="form-group row">
    <label for="colFormLabel" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input  type="text" formControlName="name"  class="form-control bt" name="name" placeholder="">
    </div><div style="padding:5px;"*ngIf="n" class="alert alert-danger">
      <strong>Name required</strong> 
    </div>
  </div>
    <div class="form-group row">
      <label for="colFormLabelSm" class="col-sm-2 col-form-label ">First_name</label>
      <div class="col-sm-10">
        <input  type="text" formControlName="first_name" class="form-control bt" name="firstname" placeholder="">
      </div><div style="padding:5px;"*ngIf="f" class="alert alert-danger">
        <strong>First Name required</strong> 
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormLabel" class="col-sm-2 col-form-label">Last_name</label>
      <div class="col-sm-10">
        <input type="text" formControlName="last_name"  class="form-control bt" name="lastname" placeholder="">
      </div><div style="padding:5px;" *ngIf="l" class="alert alert-danger">
        <strong>Last Name required</strong> 
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label ">Age</label>
      <div class="col-sm-10">
        <input type="number" formControlName="age"  class="form-control bt" name="Age" min="1" max="100">
      </div><div style="padding:5px;"*ngIf="a" class="alert alert-danger">
        <strong>Age required</strong> 
      </div>
    </div>
    <div *ngIf="succes" class="alert alert-success">
      <strong>Employe added successfully</strong> 
    </div>
    <div style="display: flex;justify-content: space-around;">
        <button style="padding: 5px 35px 5px 35px;" type="button" (click)="Addemp()" class="btn btn-primary bt">  Add Employe  </button>
        <button style="padding: 5px 50px 5px 50px;" type=" button" (click)="Clear()" class="btn btn-primary bt" >  Clear  </button>
    </div>
  </form>
</div>